@model IEnumerable<Domain.Classes.Job>

@{
    ViewBag.Title = "ViewJobs";
}

<h2>ViewJobs</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.JobDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReportedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstimatedTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActualTimeTaken)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssignedTo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobPriority)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
    </tr>

@foreach (var item in Model) {

    var priorityLevel = ((Req.Enums.PriorityLevel)item.JobPriority).ToString();
    var jobType = ((Req.Enums.JobCategory)item.JobType).ToString();
    
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.JobDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => jobType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => ((Domain.Classes.StakeHolder)Session["StakeHolder"]).StakeHolderOrganization)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstimatedTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActualTimeTaken)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AssignedTo.TakerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => priorityLevel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
    </tr>
}

</table>
