@model IEnumerable<Domain.Classes.Job>

@{
    ViewBag.Title = "View Jobs";
}
@*<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">*@
<link href="~/Content/themes/datatables.css" rel="stylesheet" />
<script src="~/Content/themes/datatables.js"></script>
<link href="~/Content/themes/CustomTableStyles.css" rel="stylesheet" />
<h2>View Jobs</h2>

<table id="example" class="table table-striped table-bordered hover white-background" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JobTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssignedTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobPriority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {

            var priorityLevel = ((Req.Enums.PriorityLevel)item.JobPriority).ToString();
            var jobCategory = ((Req.Enums.JobCategory)item.JobCategory).ToString();
            var jobStatus = ((Req.Enums.JobStatus)item.Status).ToString();
            var createdOn = string.Format("{0:d-MMM-yyyy h:mm tt}", item.CreatedOn.Value);
            var lastUpdatedOn = (item.UpdatedOn == null) ? string.Format("{0:d-MMM-yyyy h:mm tt}", (DateTime.Now)) : string.Format("{0:d-MMM-yyyy h:mm tt}", item.UpdatedOn.Value);
            <tr>
                <td>
                    @Html.ActionLink(item.JobTitle, "EditJob", "Job", new { jobId = item.JobId }, null)
                    <br/>
                    @Html.DisplayFor(modelItem => item.JobDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => jobCategory)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => createdOn)
                    <br/>
                    <br/>
                    @Html.DisplayFor(modelItem => (item.ReportedBy.ClientOrganization))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AssignedTo.TakerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => priorityLevel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => jobStatus)
                </td>
            </tr>
        }
    </tbody>

</table>

<div>
    @Html.ActionLink("Back to List", "TakerInformation", "Taker", null, new { @class = "footer-style" })
</div>

<script>
    $(document).ready( function(){
        $('#example').DataTable({
            //"order": [[9, "asc"],[2,"asc"]]
            //"columnDefs" : [
            //    { "orderData": [1,6], "targets": [2,6]},
            //   // { "orderData" : [9] , "targets" : 2}
            //]
            "aaSorting": [[0, 'desc'], [5, 'asc']]
            //"aoColumns": [
			//null,
			//null,
			//{ "sType": 'string-case' },
			//null,
			//null
            //]
        });
    }
    );
   
    
</script>

<style>
    .footer-style
    {
        color : beige;
        font-weight : bold;
        font-size : large;
        text-shadow : 3px 3px 0px #000;
    }
</style>
