
@{
    ViewBag.Title = "Home-Request Enhancement Queue System";
}

<h2 class="headingOne">Welcome to the Alpha Request Queue Management System!</h2>
<br/>
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            @Html.ActionLink("New Stakeholder? Register", "Register", "Login")
        </div>
        <br/>
        <br/>
        <div class="col-lg-8">
            @Html.ActionLink("Already Registered Stakeholder? Login Here","Login","Login")
        </div>
        <br/>
        <br/>
        <div class="col-lg-8">
            @Html.ActionLink("Taker Registration", "RegisterTaker", "Login")
        </div>
        <br/>
        <br/>
        <div class = "col-lg-8">
            @Html.ActionLink("Taker Login","Login","Login")
        </div>
        <br/>
        <br/>
    </div>
</div>

<div>

</div>

<script>
    //$(".rowOne,.rowTwo,.rowThree").css
    $(".row").css(
        {
            'font-family': 'Sans-serif,Verdana',
            'font-size': '20px',
            'height': '10px',
            //'color' : ''

        });
    $(".headingOne").css(
        {
            'font-family': 'Trebuchet MS, Helvetica, sans-serif',
            'color': 'LawnGreen'
        });

</script>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    
}
