@model IEnumerable<Domain.Classes.Job>

@{
    ViewBag.Title = "View Reported Requests";
}

<h2>Reported Requests</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.JobTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstimatedTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActualTimeTaken)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReleaseVersion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssignedTo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobPriority)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
    </tr>

@foreach (var item in Model) {
    
    var priorityLevel = ((Req.Enums.PriorityLevel)item.JobPriority).ToString();
    var jobCategory = ((Req.Enums.JobCategory)item.JobCategory).ToString();
    var jobStatus = ((Req.Enums.JobStatus)item.Status).ToString();
     
    <tr class="firstRowSet">
        <td>
            @Html.DisplayFor(modelItem => item.JobTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstimatedTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActualTimeTaken)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReleaseVersion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AssignedTo.TakerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => priorityLevel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => jobCategory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => jobStatus)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditJobForStakeHolder", "Job", new { jobId = item.JobId },null)
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Back","Index","ReportRequest")
</div>

<script>
    $('.firstRowSet:nth-child(even)').css('background-color', '#dddddd')
</script>