@model Domain.Classes.Req.Domain.ViewModels.StakeHolderRegistrationViewModel

@{
    ViewBag.Title = "Register";
}

<h2>Register Stakeholder</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal beige-color">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @*<div class="form-group">
            @Html.LabelFor(model => model.StakeHolderOrganization,"Organization", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StakeHolderOrganization, new { htmlAttributes = new { @class = "form-control" , style = "height : 30px"} })
                @Html.ValidationMessageFor(model => model.StakeHolderOrganization, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.StakeholderClientId, "Choose a Client", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.StakeholderClientId, new SelectList(ViewBag.Clients, "ClientId ", "ClientOrganization"), "Select a Client", new { @class = "form-control ", required = "required" })
                @Html.ValidationMessageFor(model => model.StakeholderClientId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StakeHolderUserName, "Username", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.StakeHolderUserName, new { htmlAttributes = new { @class = "form-control"} })
                @Html.ValidationMessageFor(model => model.StakeHolderUserName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StakeHolderPassword,"Password",htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.StakeHolderPassword, new { htmlAttributes = new { @class = "form-control" , style = "width : 280px"} })
                @Html.ValidationMessageFor(model => model.StakeHolderPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StakeHolderConfirmPassword, "Confirm Password",htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.StakeHolderConfirmPassword, new { htmlAttributes = new { @class = "form-control" , style = "width : 280px" } })
                @Html.ValidationMessageFor(model => model.StakeHolderConfirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Register" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div class="footer footer-style">
    <text>Required Fields</text>
</div>

<br />

<div>
    @Html.ActionLink("Back to Home Page", "Index", "Home", null, new { @class = "footer-style" })
</div>

<style>
    div .footer 
    {
        float : right;
    }
    label
    {
        font-weight : bold;
    }
    label:after
    {
        color : red;
        content : '*';
        display : inline;
    }
    div>text:before
    {
        color : red;
        content : '*';
        display : inline;
    }
    .footer-style
    {
        color : beige;
        font-weight : bold;
        font-size : large;
        text-shadow : 3px 3px 0px #000;
    }
    button, input, optgroup, select, textarea
    {
        color : black;
    }
</style>